<div class="visualLoading" *ngIf="this.loading">
  <fa-icon [icon]="faSync" [spin]="true" size="lg" [styles]="{'color':'#e91e63'}"></fa-icon>
</div>

<div class="results">
  <mat-form-field class="filter">
    <mat-label>Filtre</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Rechercher">
  </mat-form-field>

  <table mat-table [dataSource]="playerlist" class="mat-elevation-z8">
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef>Joueur</th>
      <td mat-cell *matCellDef="let element"><a href="https://fantasy.trashtalk.co/?tpl=joueur&pID={{element.personId}}" target="_blank">{{ element.lastName }}, {{ element.firstName }}</a></td>
    </ng-container>

    <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef>Equipe</th>
      <td mat-cell *matCellDef="let element">{{ element.teamFullName }}</td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Position</th>
      <td mat-cell *matCellDef="let element">{{ element.pos }}</td>
    </ng-container>

    <ng-container matColumnDef="height">
      <th mat-header-cell *matHeaderCellDef>Taille</th>
      <td mat-cell *matCellDef="let element">{{ element.heightMeters + 'm' }}</td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Poids</th>
      <td mat-cell *matCellDef="let element">{{ element.weightKilograms + 'kg' }}</td>
    </ng-container>

    <ng-container matColumnDef="yearsPro">
      <th mat-header-cell *matHeaderCellDef>Années pro</th>
      <td mat-cell *matCellDef="let element">{{ element.yearsPro }}</td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Pays</th>
      <td mat-cell *matCellDef="let element">{{ element.country }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
