.visualLoading {
  text-align: center;
  color: white;
  padding: 10px;
}

.results {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
  flex-direction: column;
}

.filter {
  width: 100%;
}
