<div class='header'>
  <div class="logo">
    <a routerLink="/"><img src='/assets/logo.png'/></a>
  </div>
  <nav id="menu">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/players">Players</a></li>
      <li><a routerLink="/games">Games</a></li>
      <li><a href="https://fantasy.trashtalk.co/?tpl=equipe&team=Saltbae" target="_blank">Salt</a></li>
      <li><a href="https://fantasy.trashtalk.co/?tpl=equipe&team=Pepperbae" target="_blank">Pepper</a></li>
    </ul>
  </nav>
  <div class="contact">
    <a href="https://twitter.com/SaltPepperBae" target="_blank" class="twitterLink"><fa-icon [icon]="faTwitter"></fa-icon> Twitter</a>
    <a href="mailto:saltandpepper.ttfl@gmail.com" target="_blank" class="contactLink"><fa-icon [icon]="faEnvelope"></fa-icon> Contact</a>
  </div>
</div>
<div class='body'>
  <router-outlet></router-outlet>
</div>

<div class="footer">
  © 2021 Salt & Pepper Bae Team
</div>
