<div class="visualLoading" *ngIf="this.loading">
  <fa-icon [icon]="faSync" [spin]="true" size="lg" [styles]="{'color':'#e91e63'}"></fa-icon>
</div>

<div class="options">
  <div class="dateFilter">
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" (dateChange)="onChange($event.value)" [formControl]="dDay">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="gamesFilter">
    <mat-checkbox color="primary" [(ngModel)]="gamesFilter" (change)="filter()">
      Cacher les matchs terminés
    </mat-checkbox>
  </div>
</div>

<div class="results">

  <table mat-table [dataSource]="boxscore" matSort class="mat-elevation-z8" (matSortChange)="sortData($event)">
    <ng-container matColumnDef="player">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Player</th>
      <td mat-cell *matCellDef="let element">
        <span [ngClass]="{'maxScore': this.maxScore === element.score}">
          {{ element.name }} <span *ngIf="element.isOnCourt && element.isGameActivated"><fa-icon [icon]="faBasketballBall" [styles]="{'color':'#e91e63'}"></fa-icon></span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Team</th>
      <td mat-cell *matCellDef="let element">
        <span [ngClass]="{'maxScore': this.maxScore === element.score}">
          {{ element.team.fullName }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
      <td mat-cell *matCellDef="let element">
        <span [ngClass]="{'maxScore': this.maxScore === element.score}">
          {{ element.score }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="clock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Clock</th>
      <td mat-cell *matCellDef="let element">
        <span [ngClass]="{'maxScore': this.maxScore === element.score}">
          {{ element.clock }}
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

<div class="nodata" *ngIf="!loading && boxscore.length === 0">
  Pas de matchs en cours actuellement...
</div>
