.visualLoading {
  text-align: center;
  color: white;
  padding: 10px;
}

.results {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.options {
  display: flex;
  width: 70%;
  margin: auto;
  color: white;
}

.dateFilter {
  width: 50%;
}

.gamesFilter {
  text-align: right;
  width: 50%;
  margin: auto;
  font-size: 0.8em;
}

.nodata {
  font-family: "MADE Future X Light", Roboto, Arial, sans-serif;
  font-style: italic;
  font-size: 0.8em;
  text-align: center;
  padding: 10px;
}

.maxScore {
  color: #e7d380 !important;
}
