.visualLoading {
  text-align: center;
  color: white;
  padding: 10px;
}

.results {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
  flex-direction: column;
}

.options {
  display: flex;
  width: 70%;
  margin: auto;
  color: white;
}

.dateFilter {
  width: 50%;
}

.teamRecord {
  font-size: 0.7em;
  font-family: "MADE Future X Thin", Roboto, Arial, sans-serif;
}
