<div class="visualLoading" *ngIf="this.loading">
  <fa-icon [icon]="faSync" [spin]="true" size="lg" [styles]="{'color':'#e91e63'}"></fa-icon>
</div>

<div class="options">
  <div class="dateFilter">
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput [min]="minDate" [matDatepicker]="picker" (dateChange)="onChange($event.value)" [formControl]="dDay">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<div class="results">
  <table mat-table [dataSource]="gamelist" class="mat-elevation-z8">
    <ng-container matColumnDef="hTeam">
      <th mat-header-cell *matHeaderCellDef style="width: 13%">Home</th>
      <td mat-cell *matCellDef="let element">{{ element.basicGameData.hTeam.triCode }} <span class="teamRecord">{{ element.basicGameData.hTeam.win }}-{{ element.basicGameData.hTeam.loss }}</span></td>
    </ng-container>

    <ng-container matColumnDef="hScore">
      <th mat-header-cell *matHeaderCellDef style="width: 5%"></th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'color': ((element.basicGameData.hTeam.score * 1) > (element.basicGameData.vTeam.score * 1)) ? 'lightgreen' : ''}">{{ element.basicGameData.hTeam.score }}</td>
    </ng-container>

    <ng-container matColumnDef="vScore">
      <th mat-header-cell *matHeaderCellDef style="width: 10%"></th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'color': ((element.basicGameData.vTeam.score * 1) > (element.basicGameData.hTeam.score * 1)) ? 'lightgreen' : ''}">{{ element.basicGameData.vTeam.score }}</td>
    </ng-container>

    <ng-container matColumnDef="vTeam">
      <th mat-header-cell *matHeaderCellDef style="width: 15%">Away</th>
      <td mat-cell *matCellDef="let element">{{ element.basicGameData.vTeam.triCode }} <span class="teamRecord">{{ element.basicGameData.vTeam.win }}-{{ element.basicGameData.vTeam.loss }}</span></td>
    </ng-container>

    <ng-container matColumnDef="period">
      <th mat-header-cell *matHeaderCellDef style="width: 10%">Clock</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.basicGameData.period.current === 0 && !element.basicGameData.isGameActivated"><fa-icon [icon]="faClock" [styles]="{'color':'#e91e63'}"></fa-icon> {{ element.basicGameData.startTimeUTC | date : 'HH:mm' }}</span>
        <span *ngIf="element.basicGameData.period.current > 0 && element.basicGameData.isGameActivated">QT{{ element.basicGameData.period.current }}<span *ngIf="element.basicGameData.clock !== ''"> - {{ element.basicGameData.clock }}</span></span>
        <span *ngIf="element.basicGameData.period.current >= 4 && !element.basicGameData.isGameActivated">Final</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="arena">
      <th mat-header-cell *matHeaderCellDef>Arena</th>
      <td mat-cell *matCellDef="let element">{{ element.basicGameData.arena.name }} - {{ element.basicGameData.arena.city }}, {{ element.basicGameData.arena.stateAbbr}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
