/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "MADE Future X Regular";
  src: url("/assets/madefuture_regular.otf");
}
@font-face {
  font-family: "MADE Future X Light";
  src: url("/assets/madefuture_light.otf");
}
@font-face {
  font-family: "MADE Future X Thin";
  src: url("/assets/madefuture_thin.otf");
}
@font-face {
  font-family: "MADE Future X Bold";
  src: url("/assets/madefuture_bold.otf");
}

body {
  background-color: #0f0f11;
  display:flex;
  flex-direction: column;
  margin:0;
  font-family: "MADE Future X Regular", Roboto, Arial, sans-serif;
  font-size: 1em;
  color:white;
}

html, body { height: 100%; }

.mat-form-field-appearance-fill .mat-form-field-infix {
  color: white !important;
}

.mat-checkbox, .mat-form-field {
  font-family: "MADE Future X Regular", Roboto, Arial, sans-serif;
}

.header {
  display: flex;
  padding: 0 75px;
  color: white;
  background-color: #131315;
  height: 70px;
  font-family: "MADE Future X Regular", Roboto, Arial, sans-serif;
  font-size: 0.8em;
  margin-bottom: 20px;
}
.logo {
  padding: 5px;
  width: 6%;
}
.contact {
  text-align: right;
  margin: auto;
  width: 20%;
}
.contact a {
  padding-left: 25px;
  color: white !important;
  text-decoration: none;
  transition-duration: 0.5s;
}
.twitterLink:hover {
  color: #1DA1F2 !important;
}
.contactLink:hover {
  color: #c2185b !important;
}

.body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a:link, a:active, a:visited {
  color: #c2185b;
}
a:hover {
  color: #b0bec5;
}

nav {
  margin: auto 0;
  width: 74%;
}
nav ul {
  list-style: none;
  padding: 0;

}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  text-decoration: none;
  color: white !important;
  position: relative;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #c2185b;
  height: 1px;
}
nav ul li a:hover {
  cursor: pointer;
  color: #c2185b !important;
}
nav ul li a:hover:after {
  width: 70%;
}

table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
tr.mat-row {
  height: 38px !important;
}
table.mat-table {
  background-color: #131315;
  font-family: "MADE Future X Regular", Roboto, Arial, sans-serif;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-color: #242426;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #131315;
}

.footer {
  text-align: center;
  font-size: 0.6em;
  font-family: "MADE Future X Light", Roboto, Arial, sans-serif;
  margin-top: 30px;
}
